*.obj
*.dll.manifest
*.dll
*.exe.manifest
*.exe
*.lib
*.pdb
*.ilk
*.exp
version.res
tests/*.pass
tests/*.bench
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/benchlib.o
tests/SIZES.*
tests/*.log
config\.status
config\.log
config\.h
config\.h\.in~
autom4te\.cache/
GNUmakefile
!contrib/QueueUserAPCEx/*makefile
PTHREADS-BUILT/
PTHREADS-BUILT-MinGW/
*.sys
*.inlined_static_stamp
pthreads-w32-*-release
